.pager {
  &__container {
    margin-top: 35px;
  }
  &__item {
    border: 1px solid #dfdfdf!important;
    font-size: 13px;
    height: 28px;
    line-height: 28px;
    padding: 5px 10px 5px;
    margin-left: -1px;
    text-decoration: none;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
  }
  &__item:hover {
    color: #111;
    background: #eee;
  }
}

.is-active {
  color: #333;
  background: #ddd;
}
.is-disabled {
  color: #777;
  background: #fff;
}

.icon-arrowRight:before {
    content: " >";
}
.icon-arrowLeft:after {
    content: "< ";
}
